# Ignore personal stuff
.DS_Store
.settings

# Ignore docs folder
doc

# Do not include my personal test files
test

# Ignore compiled files and packages
*.class
*.war
*.ear

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
